<script>
 function showForm(formOption) {
    $('#bits_form, #family_form').addClass('hide');
    if (formOption === "HORS D’OEUVRES") {
      $('#bits_form').removeClass('hide');
    } else if ((formOption === "The Traditional Italian Dinner") || (formOption === "The Traditional Italian Dinner with Individually Plated Entrees")) {
      $('#family_form').removeClass('hide');
    }
  }

  var selectedOption = $('#menu_style_id option:selected').text();
  showForm(selectedOption);
  $('#menu_style_id').change(function (e) {
    e.preventDefault();
    var changedOption = $('#menu_style_id option:selected').text();
    showForm(changedOption);
  })

</script>

<h1>New Menu</h1>

<div class="well">
  <%= render 'form' %>
</div>
