
<% if @user_events.any? %>
  <ul class="row">
    <% @user_events.each do |event| %>
      <li><%= link_to event.party_for, event_path(event) %></li>
    <% end %>
  </ul>
<% else %>
<p>Currently you have no events planned!</p>
<% end %>
