
<div class="well">
  <div class="page-header">
    <div class="text-center">
      <h1><%= @user.first_name %> <%= @user.last_name %> Events</h1>
    </div>
  </div>

  <div class="row">
    <% @user.events.each do |event| %>
      <h3 class="col-md-4"><%= link_to event.party_for, event_path(event) %></h3>
    <% end %>
  </div>
</div>
