<!-- Better view -->

<div class="row">
  <div class="col-md-4">
    <h3>Party For: <%= @event.party_for %></h3>
  </div>
  <div class="col-md-4">
    <h3>Party For: <%= @event.number_of_people %></h3>
  </div>
  <div class="col-md-4">
    <h3>Party For: <%= @event.parse_datetime %></h3>
  </div>
</div>
