@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Aladin');


body, .panel-footer {
  font-family: 'Aladin', cursive;
  background-color: #1B1C16;
}

.navbar-brand, body {
  font-size: 24px;
}

ul {
  list-style: none;
}

a, .carousel-caption h2 a:hover, .well, .panel, .welcome {
  color: #86B8B7;
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.w-100 {
  width: 100%;
}

.carousel-caption {
  font-size: 40px;
}

.carousel-caption h2 a {
  color: white;
}

.navbar, .well, .panel-heading, .panel-body, .btn-review, .breadcrumb {
  background-color: #7A0E0C;
}

.hr-menu {
  border-top: 1px solid #790d0b;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 33%;
  width: 34%;
}

.panel-heading, .welcome, .thumbnail {
  text-align: center;
}

.panel .thumbnail {
  background-color: #CE8826;
}

.panel-footer ul {
  padding: 0;
}

.form-control {
  font-size: 30px;
}
