@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Aladin');
body,
.panel-footer {
  // font-family: 'Aladin', cursive;
  background-color: #1B1C16;
}

.page-header {
  h5,
  h4,
  a {
    font-size: 16px;
    color: #CE8826;
  }
  .hr-menu {
    border-top: 1px solid #CE8826;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.navbar {
  height: 50px;
}

.container {
  min-height: calc(100vh - 90px);
  /* 50px header + 40px footer = 90px  */
  overflow: auto;
  position: relative;
  width: 100%;
}

footer {
  height: 40px;
}

.alert.alert-danger {
  height: 60px;
}

body footer p {
  bottom: 0;
  width: 100%; // height: 60px;
  padding: 9px;
  font-size: 14px
}

ul {
  list-style: none;
}

a,
.carousel-caption h2 a:hover,
.well,
.panel,
.welcome,
.gold-bg a:hover,
a.no-line:hover,
footer {
  color: #86B8B7;
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.carousel-inner {
  width: 100%;
  max-height: 518px !important;
}

.w-100 {
  width: 100%;
  max-height: 100% !important;
}

// .carousel-caption {
//   font-size: 40px;
// }
.carousel-caption h2 a {
  color: white;
}

.carousel-caption {
  top: 131px;
  bottom: auto;
}

.navbar,
.well,
.panel-heading,
.panel-body,
.btn-review,
.breadcrumb,
footer,
.navbar-nav li a:hover,
#chef-link:focus {
  background-color: #7A0E0C;
}

.hr-menu {
  border-top: 1px solid #790d0b;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 33%;
  width: 34%;
}

.home-image {
  width: 78%;
}

.panel-heading,
.welcome,
.thumbnail,
.card,
.log-well,
.home-container,
.menu-options-container,
.menu-items-container,
.signup-well,
.carousel-container,
.menu-item-well,
.menu-form-well h1 {
  text-align: center;
}

.gold-bg {
  background-color: #CE8826;
}

.gold-bg a,
.gold-bg {
  color: #333333;
}

.panel-footer ul {
  padding: 0;
}

.form-control {
  font-size: 15px;
}

.item-header {
  margin-top: 0;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  height: 100%;
}

.right {
  float: right;
}

.card {
  padding: 1px;
}

.no-line a:link,
a.no-line {
  text-decoration: none;
}

a.no-line {
  color: #CE8826;
}

.thumb-image {
  margin-bottom: 3px;
}

.btn-success {
  background-color: #167516;
}

.log-well {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-well {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
}

.show-event-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 750px;
  #edit-event-links a {
    color: #CE8826;
  }
  #edit-event-links a:hover {
    color: #86B8B7;
  }
}

li a {
  height: 42px;
}

footer {
  height: 40px
}

.user-events {
  margin-left: 50px;
}

#style_true {
  color: #0e470e;
}

#style_false {
  color: rgb(100, 11, 9);
}

.home-container {
  p {
    font-size: 14px;
  }
}

.menu-options-container {
  .card {
    width: 48rem;
    padding: 15px;
    display: table;
    margin: auto;
  }
  .text {
    margin-top: 4%;
  }
  a#style_false.card-link:hover {
    color: #86B8B7;
  }
}

.menu-items-container,
.request-container {
  .card {
    width: 31rem;
    padding: 15px;
    display: table;
    margin: auto;
  }
  h5.card-title a {
    font-size: 18px;
  }
}

.request-container {
  blockquote {
    width: 50rem;
    padding: 39px 20px 15px;
    display: table;
    margin: auto;
  }
}

.menu-item-well {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30rem;
}

.menu-form-well {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.admin-30days-well {
  .card {
    margin-top: 14px;
  }
  h3 {
    text-align: center;
  }
}

#checkbox-input {
  display: inline;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  footer {
    height: 20%;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
