@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Aladin');


body {
  font-family: 'Aladin', cursive;
  background-color: #1B1C16;
}

.navbar-brand, body {
  font-size: 24px;
}

ul {
  list-style: none;
}

a, .carousel-caption h2 a:hover, .well {
  color: #86B8B7;
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.w-100 {
  width: 100%;
}

.carousel-caption {
  // color: #1B1C16;
  font-size: 40px;
}

.carousel-caption h2 a {
  color: white;
}

.navbar, .well {
  background-color: #7A0E0C;
}
